html {

}

body {
	background-image: url(bg.png);
    -moz-background-size:100% 100%;
    -webkit-background-size:100% 100%;
    -o-background-size:100% 100%;
    -khtml-background-size:100% 100%;
    background-size:100% 100%;	
}


#content_auto{
	-webkit-box-shadow: 0 5px 13px rgba(0,3,1,.75);
	-moz-box-shadow: 0 5px 13px rgba(0,3,1,.75);
	box-shadow: 0 5px 13px rgba(0,3,1,.75);
	border: solid 2px #a3a2a1;
	width: 973px;
	height: 692px;
	position: relative;
	background: #fdf8ef;
	margin: 3% auto;
}


h1 {
	position: relative;
	text-align: center;
	font-family: LittleShift;
	font-size: 40px;
	color: #515050;
	width: 100%;
	display: inline-block;
}

#auto {
	position: relative;
	width: 100%;

}

.colonitemleft {
	font-family: LittleShift;
	font-size: 25px;
	color: #515050;
	width: 50%;
	text-align: right;
	float: left;
}

.colonitemright {
	
}

.colon {
	width: 100%;
	position: relative;
	float: left;
}